# Keep these private on your computer
publish.py
build_nav.py
mkdocs_base.yml
mkdocs.yml
deploy_site.bat

# Ignore build artifacts
site/
encrypted/
site_temp/
site_upload_temp/

# Ignore the encryption metadata
.staticrypt.json


# StatiCrypt metadata
.staticrypt.json

# Keep the generated site folder out (you'll upload this manually or via a different branch)
# site/

# Python environment (This is usually where the 10k files are!)
venv/
.venv/
env/
__pycache__/
*.pyc

# MkDocs generated site
site/

# Node.js (if you installed staticrypt locally)
node_modules/

# OS files
.DS_Store
Thumbs.db